body {
  background: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

#digitalClock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 60px;
  letter-spacing: 7px;
  color: rgb(55, 123, 192);
  font-family: "Franklin Gothic Medium";
}
